<!-- Content -->
<div class="container-fluid">

    <div class="row-fluid no-gutter">

        <div class="col-xs-12 col-sm-12 thumb">
            <h3 class="text-center"><a ng-click="include(current.link)"><span>‹</span></a> {{current.name}} {{current.suffix}}</h3>
        </div>



        <div class="col-xs-{{gallery[$index]}} col-sm-4 thumb" ng-repeat="image in images[current.code] track by $index">
            <a class="thumbnail" ng-click="goToPhoto($index)">
                <img class="img-responsive img" ng-src="img/{{current.code}}/thumb/{{$index + 1}}.jpg" alt="">
            </a>
            <span class="hidden-xs">{{images[current.code][$index]}}</span>

        </div>
    </div>

</div>
