<!-- Content -->
<div class="container-fluid">
    <div class="row-fluid no-gutter">
        <div class="col-xs-12 col-sm-12 thumb">
            <h1 class="text-center"><a href="http://www.xaviro.com"><span>‹</span></a> National Parks</h1>
        </div>

        <div class="col-xs-4 col-sm-4 thumb" ng-repeat="code in parks.code track by $index">
            <a class="thumbnail" ng-click="goToGallery(code, parks.name[$index])">
                <img class="img-responsive img" ng-src="img/{{code}}/thumb/1.jpg" alt="">
            </a>
            <span>{{parks.name[$index]}} National Park</span>
        </div>
    </div>

</div>
