<!-- Content -->
<div class="container-fluid">
    <div class="row-fluid no-gutter">
        <div class="col-xs-12 col-sm-12 thumb">
            <h1 class="text-center">National Parks</h1>
        </div>

        <div class="col-xs-4 col-sm-4 thumb" ng-repeat="code in parks.code track by $index">
            <a class="thumbnail" href="#gallery" ng-click="updateGallery(code, parks.name[$index],'National Park')">
                <img class="img-responsive img" ng-src="img/{{code}}/thumb/1.jpg" alt="">
            </a>
            <span>{{parks.name[$index]}} National Park</span>
        </div>

    </div>

</div>
